/*  Universal css classes  */

body, input, textarea, select{
  font-family:Roboto;
  font-size: 19px;
  letter-spacing: 0.06em;
  color:
  #929292;}
html, body, ul, li, p{
  list-style:none;
  padding:0px;
  margin:0px;
}
h1, h2, h3, h4, h5, p{
  font-weight:normal;
  padding:0px;
  margin:0px;
}
h1{
  font-size:40px;
  text-transform: uppercase;
  font-weight: bold;
}
h2{
  font-size:20px;
  margin-bottom: 40px;
}



/*  Common css classes  */



header{
  background-color:rgb(52, 58, 64);
  color:rgb(255, 255, 255);
  padding:10px 30px ;
}
header img{
  width: 120px;
}


/* body css starts from here */
section{background: #f3f7ec; padding: 3% 4%;}
#resultbox{box-shadow: 0 10px 40px
  rgba(0,0,0,0.15);
  padding: 3% 6%;
  width: 60%;
  margin: auto;
}
/* #resultbox > div{padding-bottom: 2em;
  border-bottom: 1px solid #c3b7ff;
  margin-bottom: 2em;
  color: #fc7d0d;
} */
#resultbox > div:last-child{
  padding-bottom: 0em;
  border-bottom: 0px;
  margin-bottom: 0em;
}


/* New css starts from here */


#map{
  width: 500px ;
  height: 500px ;
}






main {
  margin: 0 auto;
  width: 100%;
}

main label {
      display: block;
      margin-bottom: 8px;
}
input[type="text"], main select {
      border-color: #d2d6d9;
      display: block;
      width: 50%;
      font-size: 14px;
      font-weight: 400;
      height: 40px;
      padding: 8px;
      line-height: 1.42857143;
      color: #2e2e2e;
      background-color: #fff;
      border: 1px solid #d2d6d9;
      border-radius: 5px;
      margin-bottom: 12px;
}

 input[type="checkbox"]{
      width: 15px;
      height: 15px;
      margin-bottom: 36px;
}

 label {
          display: inline-block;
      }
  

 button {
      padding: 12px 24px;
      border: none;
      height: 60px;
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
          0 1px 3px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.025em;
      color: #fff;
      transition: all 0.15s ease;
      text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
      outline: none;
      cursor: pointer;
      line-height: 1.5rem;
      margin-bottom: 24px;
      background: #3ecf8e;
}
 button:hover {
          box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
              0 3px 6px rgba(0, 0, 0, 0.08);
          transform: translateY(-1px);
}

 button:active {
          transform: translateY(1px);
          box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
              0 3px 7px -3px rgba(0, 0, 0, 0.3);
}

  
.boardingcard {
      background-color: #ededed;
      padding: 24px;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
      margin-bottom: 36px;
      transition: opacity 0.3s;
}

.boardingcard.hidden {
          opacity: 0;
}
      
.boardingcard h2 {
          text-align: center;
}
      
.boardingcard h3 {
          display: inline-block;
}
 



/* New css ends here */

/* Css for event application starts from here */

#timer{text-align: center;
  font-size: 150px;
  font-weight: bold;
  position: absolute;
  width: 56%;
  color:#0000002e;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-top: 170px;
  justify-content: center;
  animation-name: example;
  animation-duration: 2s;
  /* background-color: aqua; */
}
/* #timer{font-size: 150px;} */
/* @keyframes example {
  to {font-size: 300px; /*background-color: red;}
  from {font-size: 150px;/*background-color: yellow;}
/*} */

canvas{
  z-index: 2;
  position: absolute;
  width: 100%; /* 25%  for L/S container body */
  height: 100%;
  display: none;
}
  main, #resultbox{
    text-align: center;
  }
  input[type="text"]{
    margin: auto auto 12px auto;
  }
  section main{
    display: flex;
    border-top: 1px solid #000000;
  }
  section section{
    width: 50%;
    flex:1 1;
    min-height: 135px;
  }
  section section:first-child
  {border-right: 1px solid #000000;
  }
  #mszDisplayBox{
    width: 100%;
    position: absolute;
    height: 100%;
    background:#0000006b;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 3;
  }
  #mszContainer{
    width: 30%;
    position: relative;
    display: flex;
    background:antiquewhite;
    padding: 2% 3%;
  }
  #mszContainer .close{
    position: absolute;
    top: -3px;right: -5px;
    border: 2px solid#fff;
    border-radius: 50%;
    padding: 1px 6px;
    background:#fff;
    font-size: 13px;
    color:#7f7f7f;
    text-decoration: none;
}

/* Css for event application ends here */

/* Footer css starts from here */

footer{
  background-color:rgb(52, 58, 64);
  color:rgb(255, 255, 255);
  padding:10px;
  text-align:center;
}


/* Footer css ends here */