



.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
}

.item1 {
  grid-column: 1 / 5;
}










/* 
nav {
    max-width: 600px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    background: #444;
}

nav ul li {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding: 14px;
    color: ghostwhite;
    border-right: 2px solid #000;
}

nav ul li:last-child {
    margin-left: auto;
}





@media (max-width: 420px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        border: none;
        border-top: 2px solid #000;
    }

    nav ul li:last-child {
        border-bottom: 2px solid #000;
        margin-left: 0;
    }
} */