/*  Universal css classes  */

body, input, textarea, select{font-family:Roboto;font-size:14px;letter-spacing:0.06em;}
html, body, ul, li, p{list-style:none;padding:0px;margin:0px;}


h1, h2, h3, h4, h5, p{font-weight:normal;padding:0px;margin:0px;}
h1{font-size:40px;text-transform: uppercase;font-weight: bold;}
h2{font-size:20px;margin-bottom: 40px;}



/*  Common css classes  */



header{
  background-color:rgb(52, 58, 64);
  color:rgb(255, 255, 255);
  padding:10px 30px ;
}
header img{
  width: 120px;
}


/* body css starts from here */
section{background: #f3f7ec; padding: 3% 4%;position: relative;}
.spiritanimal{
  background: url(images/spirit.png);
  position: absolute;
  top: 33px;
  right: 16%;
  width: 303px;
  height: 526px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 !important;
  padding: 0px !important;
  border: 0px none !important;
}
#resultbox{box-shadow: 0 10px 40px
  rgba(0,0,0,0.15);
  padding: 5% 5%;
  width: 63%;
  margin: auto;
}
#resultbox > div{padding-bottom: 2em;
  border-bottom: 1px solid #c3b7ff;
  margin-bottom: 2em;
  color: #fc7d0d;
}
#resultbox > div:last-child{
  padding-bottom: 0em;
  border-bottom: 0px;
  margin-bottom: 0em;
}


/* New css starts from here */


main {
  width: 70%;
}
main >div{
  display: flex;
}
main label {
      display: block;
      margin-bottom: 8px;
}
input, select {
      border-color: #d2d6d9;
      display: block;
      width: 80%;
      font-size: 14px;
      font-weight: 400;
      height: 100%;
      padding: 19px 8px;
      line-height: 1.42857143;
      color: #2e2e2e;
      background-color: #fff;
      border: 1px solid #d2d6d9;
      border-radius: 5px 0px 0px 5px;
      margin-bottom: 12px;
}

main > input[type="checkbox"]{
      width: 15px;
      height: 15px;
      margin-bottom: 36px;
}

main label {
          display: inline-block;
      }
  

main button {
      padding: 12px 24px;
      border: none;
      height: 60px;
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
          0 1px 3px rgba(0, 0, 0, 0.08);
      border-radius:0px 4px 4px 0px;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.025em;
      color: #fff;
      transition: all 0.15s ease;
      text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
      outline: none;
      cursor: pointer;
      line-height: 1.5rem;
      margin-bottom: 24px;
      background: #497dc8;
}
main button:hover {
          box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
              0 3px 6px rgba(0, 0, 0, 0.08);
          transform: translateY(-1px);
}

main button:active {
          transform: translateY(1px);
          box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
              0 3px 7px -3px rgba(0, 0, 0, 0.3);
}

  
.boardingcard {
      background-color: #ededed;
      padding: 24px;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
      margin-bottom: 36px;
      transition: opacity 0.3s;
}

.boardingcard.hidden {
          opacity: 0;
}
      
.boardingcard h2 {
          text-align: center;
}
      
.boardingcard h3 {
          display: inline-block;
}
 
button.disable, button.disable:active, button.disable:hover{
  transform:none;
  box-shadow:0 0 0;
  background: #d5d5d5;
  text-shadow: none;
}


/* New css ends here */

/* popup css */
#fogbg{
  background: #18314c78;
  position: absolute;
width: 100%;
height: 100%;
  display: none;
  z-index: 1;
}
#displaybox{
border: 1px solid #ffffff38;
position: absolute;
  height: auto; /*290px*/
  margin: 5% 30%;

  z-index: 10;
  width: 34%;
  background:#ffffff38;
}
#displaybox > #show{
  background:white;
padding: 20px 10px; 
}
#displaybox > #showmsz {
  background:url(images/ask.jpg) ;
  padding: 99px 25px 63px 305px;
  background-size: cover;
  color:#fff;
  font-size: 20px;
  text-align: right;
}
#displaybox > #showmsz::first-line{color:#d7beb9;font-size:50px;}
#animalbox{
  width: 100%;
overflow: hidden;
height: 233px;
/* background-image: url(images/wolf.jpg); */
background-position: center;
background-size: cover;
}
#animalbox > img{
  width: 100%;
}
#displaybox > .close{position: absolute;
  top: 0;
  right: 8px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 0px 0px 8px #777575;
}

#animalbox, #show, #showmsz{display: none;}
/* .fullfogbg:target {
  display: none;
} */
.selectoption{
  display: flex;
  border: 1px solid #fff;
  border-bottom: 0;padding: 20px 14px 0px 22px;
  background:#ecedf6;
  position: relative;
  }
.selectoption > select{
  padding: 8px 8px;
  width: 18%;
  margin-left:auto;
}
/* .selectoption > div::before{
  content: '';
width: 36px;
height: 44px;
background:#497dc8;
position: absolute;
top: 20px;
display: block;
right: 13px;border-radius: 0 5px 5px 0;
} */
/* Css for event application starts from here */
.selectoption > div > select{
  height: 43px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  float: right;
  /* opacity: 0; */
}
.selectoption > div{
  /* border: 1px solid burlywood; */
    background:#fff;
    border-radius: 5px;
    margin-left: auto;
    width: 104px;
  }
.selectoption > p{
margin-top: 10px;
}
main > div:last-child{border: 1px solid #fff;
   border-top: 0; 
   padding: 15px 0px 0px 20px;
   background:#ecedf6;
}


article{
  display: flex;
  flex-wrap: wrap;text-align: center;
}
article > div:first-child{
  border:5px solid #ded3f68f;
  flex: 1;margin-right: 2%;
}
article > div:last-child{
  border:5px solid #ded3f68f;
  flex: 1;
}

/* Css for event application ends here */

/* Footer css starts from here */

footer{
  background-color:rgb(52, 58, 64);
  color:rgb(255, 255, 255);
  padding: 22px 0px;
  margin: auto;
  text-align: center;
  /* position: fixed; */
  /* bottom: 0px; */
  /* width: 100%; */
}


/* Footer css ends here */